@model FrotaWeb.Models.PessoaViewModel
@using Core.DTO
@using Core

@{
    var frotas = ViewData["Frotas"] as IEnumerable<FrotaDTO> ?? Enumerable.Empty<FrotaDTO>();
    var papeis = ViewData["Papeis"] as IEnumerable<Papelpessoa> ?? Enumerable.Empty<Papelpessoa>();
    var estados = ViewData["Estados"] as List<string>;
    var SeletorDeFrotaEnable = (bool)(ViewData["SeletorDeFrotaEnable"] ?? false);
}

<link rel="stylesheet" href="~/css/form-pages.css" asp-append-version="true" />

<main>
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Cadastro de Usuário</h1>
    </div>
    <div class="fomulario">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w60">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group w30">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group w60">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group w30">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <hr class="divisor">
            <div class="form-group w40">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" id="cep" maxlength="9" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group w50">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" id="rua" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group w40">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" id="bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group w60">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group w10">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group w40">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" id="cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group w10">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="custom-select select2" id="Estado">
                    @if (!estados.Any())
                    {
                        <option value="" disabled selected hidden>Frota</option>
                    }
                    else
                    {
                        foreach (var estado in estados)
                        {
                            <option value="@estado">@estado</option>
                        }
                    }
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <hr class="divisor">
            @if (SeletorDeFrotaEnable)
            {
                <div class="form-group w30">
                    <label asp-for="IdFrota" class="control-label"></label>
                    <select asp-for="IdFrota" class="custom-select select2">
                        @if (!frotas.Any())
                        {
                            <option value="" disabled selected hidden>Frota</option>
                        }
                        else
                        {
                            foreach (var frota in frotas)
                            {
                                <option value="@frota.Id">@frota.Nome</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="IdFrota" class="text-danger"></span>
                </div>
            }
            <div class="form-group w20">
                <label asp-for="IdPapelPessoa" class="control-label"></label>
                <select asp-for="IdPapelPessoa" class="custom-select select2">
                    @if (!papeis.Any())
                    {
                        <option value="" disabled selected hidden>Papel</option>
                    }
                    else
                    {
                        foreach (var papel in papeis)
                        {
                            <option value="@papel.Id">@papel.Papel</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdPapelPessoa" class="text-danger"></span>
            </div>
            <div class="form-group w-25">
                <label class="control-label mb-2">Status</label>
                <div class="btn-group-toggle d-flex" role="group" aria-label="Status">
                    <input type="radio" class="btn-check" asp-for="Ativo" id="ativo" value="1" autocomplete="on" checked />
                    <label class="btn btn-outline-success flex-grow-1" for="ativo">Ativo</label>

                    <input type="radio" class="btn-check" asp-for="Ativo" id="inativo" value="0" autocomplete="off" />
                    <label class="btn btn-outline-danger flex-grow-1" for="inativo">Inativo</label>
                </div>
                <span asp-validation-for="Ativo" class="text-danger mt-1 d-block"></span>
            </div>
            <div class="buttons">
                <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("cep").addEventListener("blur", function () {
            const cep = this.value.replace(/\D/g, ""); // Remove caracteres não numéricos

            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Erro ao buscar CEP.");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.erro) {
                            alert("CEP não encontrado.");
                            return;
                        }

                        // Preenche os campos com os dados retornados
                        document.getElementById("rua").value = data.logradouro || "";
                        document.getElementById("bairro").value = data.bairro || "";
                        document.getElementById("cidade").value = data.localidade || "";
                        // Seletor para estado
                        const estadoSelect = document.getElementById("Estado");
                        estadoSelect.value = data.uf || "";
                        if (!estadoSelect.value) {
                            alert("Estado não encontrado no seletor.");
                        }
                    })
                    .catch(error => {
                        console.error("Erro ao consultar o CEP:", error);
                        alert("Não foi possível consultar o CEP.");
                    });
            } else {
                alert("CEP inválido. Por favor, insira um CEP válido.");
            }
        });
    </script>
}
