@model IEnumerable<FrotaWeb.Models.PessoaViewModel>

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/lib/datatable/css/jquery.dataTables.min.css" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Condutores</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="indexPessoa" class="tabela">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.Nome)</th>
					<th>@Html.DisplayNameFor(model => model.Cpf)</th>
					<th>@Html.DisplayNameFor(model => model.Estado)</th>
					<th>@Html.DisplayNameFor(model => model.Ativo)</th>
					<th class="column-15"></th>
				</tr>
			</thead>
			<tbody id="tableBody">
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.Nome)</td>
						<td>@Html.DisplayFor(modelItem => item.Cpf)</td>
						<td>@Html.DisplayFor(modelItem => item.Estado)</td>
						<td>@Html.DisplayFor(modelItem => item.Ativo)</td>
						<td>
							<a href="@Url.Action("Edit", "Pessoa", new { id = item.Id })" class="edit icone" title="Editar" data-toggle="tooltip">
								<i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
							</a>
							<a href="@Url.Action("Details", "Pessoa", new { id = item.Id })" class="details icone" title="Detalhes" data-toggle="tooltip">
								<i class="fa fa-eye cor" aria-hidden="true"></i>
							</a>
							<a href="@Url.Action("Delete", "Pessoa", new { id = item.Id })" class="delete icone" title="Excluir" data-toggle="tooltip">
								<i class="fa fa-trash cor" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
        </table>
    </div>
    <nav class="navigation-pages">
        <li id="arrow" class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Pessoa", new { page = ViewBag.CurrentPage - 1 })"><span class="material-symbols-outlined">arrow_back</span></a>
        </li>

        @for (int i = 0; i < ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                @{
                    var numeroPageLast = i + 1;
                }
                <a class="page-link" href="@Url.Action("Index", "Pessoa", new { page = i })">@numeroPageLast</a>
            </li>
        }

        <li id="arrow" class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Pessoa", new { page = ViewBag.CurrentPage + 1 })"><span class="material-symbols-outlined">arrow_forward</span></a>
        </li>

        <div></div>
    </nav>
    
</main>

@section Scripts {
    <script>
        // Inicializa tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
}