@model FrotaWeb.Models.ManutencaoViewModel
@using Core.DTO

@{
    var veiculos = ViewData["Veiculos"] as IEnumerable<VeiculoDTO> ?? Enumerable.Empty<VeiculoDTO>();
    var pessoas = ViewData["Pessoas"] as IEnumerable<PessoaDTO> ?? Enumerable.Empty<PessoaDTO>();
    var fornecedores = ViewData["Fornecedores"] as IEnumerable<FornecedorDTO> ?? Enumerable.Empty<FornecedorDTO>();
}

<link rel="stylesheet" href="~/css/form-pages.css" asp-append-version="true" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Cadastro de Manutenção</h1>
    </div>
    <div class="fomulario">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w30">
                <label asp-for="IdVeiculo" class="control-label">Veículo</label>
                <select asp-for="IdVeiculo" class="custom-select select2">
                    @if (!veiculos.Any())
                    {
                        <option value="" disabled selected hidden>Veiculo</option>
                    }
                    else
                    {
                        foreach (var veiculo in veiculos)
                        {
                            <option value="@veiculo.Id">@veiculo.Placa</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group w40">
                <label asp-for="IdFornecedor" class="control-label">Fornecedor</label>
                <select asp-for="IdFornecedor" class="custom-select select2">
                    @if (!fornecedores.Any())
                    {
                        <option value="" disabled selected hidden>Fornecedor</option>
                    }
                    else
                    {
                        foreach (var fornecedor in fornecedores)
                        {
                            <option value="@fornecedor.Id">@fornecedor.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group w40">
                <label asp-for="IdResponsavel" class="control-label">Responsável</label>
                <select asp-for="IdResponsavel" class="custom-select select2">
                    @if (!pessoas.Any())
                    {
                        <option value="" disabled selected hidden>Responsável</option>
                    }
                    else
                    {
                        foreach (var pessoa in pessoas)
                        {
                            <option value="@pessoa.Id">@pessoa.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPecas" class="control-label"></label>
                <input asp-for="ValorPecas" class="form-control" />
                <span asp-validation-for="ValorPecas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorManutencao" class="control-label"></label>
                <input asp-for="ValorManutencao" class="form-control" />
                <span asp-validation-for="ValorManutencao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comprovante" class="control-label"></label>
                <input asp-for="Comprovante" class="form-control" />
                <span asp-validation-for="Comprovante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="buttons">
                <input type="submit" value="Cadastrar Manutenção" class="btn btn-primary" />
            </div>
        </form>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
