@inject SignInManager<UsuarioIdentity> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="identity-nav-list">
    <li class="identity-nav-item">
        <a class="identity-nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="fas fa-user"></i>
            <span>Perfil</span>
        </a>
    </li>
    <li class="identity-nav-item">
        <a class="identity-nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="fas fa-envelope"></i>
            <span>Email</span>
        </a>
    </li>
    <li class="identity-nav-item">
        <a class="identity-nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="fas fa-key"></i>
            <span>Senha</span>
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="identity-nav-item">
            <a id="external-login" class="identity-nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="fas fa-link"></i>
                <span>Logins Externos</span>
            </a>
        </li>
    }
    <li class="identity-nav-item">
        <a class="identity-nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="fas fa-shield-alt"></i>
            <span>Autenticação em Dois Fatores</span>
        </a>
    </li>
    <li class="identity-nav-item">
        <a class="identity-nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="fas fa-database"></i>
            <span>Dados Pessoais</span>
        </a>
    </li>
</ul>
