@model IEnumerable<FrotaWeb.Models.FornecedorViewModel>

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Fornecedores</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th class="column-10">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="column-30">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th class="column-15">
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </th>
                    <th class="">
                        @Html.DisplayNameFor(model => model.Cep)
                    </th>
                    <th class="">
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th class="column-10">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th class="column-15">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Fornecedor", new { id = item.Id })" class="edit" title="Editar" data-toggle="tooltip">
                                <i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "Fornecedor", new { id = item.Id })" class="details" title="Detalhes" data-toggle="tooltip">
                                <i class="fa fa-eye cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Fornecedor", new { id = item.Id })" class="delete" title="Excluir" data-toggle="tooltip">
                                <i class="fa fa-trash cor" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>