@model IEnumerable<FrotaWeb.Models.SolicitacaoManutencaoViewModel>

@using Core.DTO

@{
    var veiculos = ViewData["Veiculos"] as IEnumerable<VeiculoDTO> ?? Enumerable.Empty<VeiculoDTO>();
}

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Solicitações de Manutenção</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
            <div class="filtros">
                <form id="formFiltro" method="get" action="@Url.Action("Index", "SolicitacaoManutencao")">
                    <input type="hidden" name="page" value="0" />
                    <label for="idVeiculo">Filtrar por Veículo:</label>
                    <select id="idVeiculo" name="idVeiculo" class="custom-select select2" onchange="document.getElementById('formFiltro').submit();">
                        <option value="">Todos os Veículos</option>
                        @foreach (var veiculo in veiculos)
                        {
                            if (ViewBag.IdVeiculoSelecionado != null && ViewBag.IdVeiculoSelecionado == veiculo.Id)
                            {
                                <option value="@veiculo.Id" selected>@veiculo.Placa</option>
                            }
                            else
                            {
                                <option value="@veiculo.Id">@veiculo.Placa</option>
                            }
                        }
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th>Veículo</th>
                    <th>Solicitante</th>
                    <th>@Html.DisplayNameFor(model => model.DataSolicitacao)</th>
                    <th>@Html.DisplayNameFor(model => model.DescricaoProblema)</th>
                    <th class="column-15"></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PlacaVeiculo)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomePessoa)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataSolicitacao)</td>
                        <td>@Html.DisplayFor(modelItem => item.DescricaoProblema)</td>
                        <td>
                            <a href="@Url.Action("Edit", "Solicitacaomanutencao", new { id = item.Id })" class="edit icone" title="Editar" data-toggle="tooltip">
                                <i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "Solicitacaomanutencao", new { id = item.Id })" class="details icone" title="Detalhes" data-toggle="tooltip">
                                <i class="fa fa-eye cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Solicitacaomanutencao", new { id = item.Id })" class="delete icone" title="Excluir" data-toggle="tooltip">
                                <i class="fa fa-trash cor" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
