@model FrotaWeb.Models.VeiculoViewModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<style>
    p {
        color: #000000;
        text-align: center;
        margin: 0 auto;
        width: fit-content;
    }
</style>

<main class="container mt-4">
    <h4 class="page-title fs-2">
        <i class="fa fa-car mr-3"></i>
        Veículos
    </h4>
    <h1 class="my-text-label fs-3 mt-4 mb-4">Deletar Veículo</h1>
    <div class="creator-form fs-5">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Unidade Administrativa:</label>
                    <p>@Model.IdUnidadeAdministrativa</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Frota:</label>
                    <p>@Model.IdFrota</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Placa:</label>
                    <p>@Model.Placa</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Chassi:</label>
                    <p>@Model.Chassi</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Valor do Veículo:</label>
                    <p>@Model.Valor</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Modelo Veículo:</label>
                    <p>@Model.IdModeloVeiculo</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Data Referência (Valor):</label>
                    <p>@Model.DataReferenciaValor</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Cor:</label>
                    <p>@Model.Cor</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Odômetro:</label>
                    <p>@Model.Odometro</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Status:</label>
                    <p>@Model.Status</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Ano:</label>
                    <p>@Model.Ano</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Modelo:</label>
                    <p>@Model.Modelo</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Renavan:</label>
                    <p>@Model.Renavan</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="type-container">
                    <label class="label">Vencimento Ipva:</label>
                    <p>@Model.VencimentoIpva?.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
        </div>
        <form asp-action="Delete" class="row mt-4">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <a asp-action="Index" class="my-button btn btn-danger btn-sm w-50 w-md-auto">Voltar</a>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <input type="submit" value="Excluir" class="my-button btn btn-success btn-sm w-50 w-md-auto" />
            </div>
        </form>
    </div>
</main>
