@model FrotaWeb.Models.VeiculoViewModel

<div>
    <h4>VeiculoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModeloVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModeloVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFrota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFrota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnidadeAdministrativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnidadeAdministrativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odometro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odometro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renavan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renavan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VencimentoIpva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VencimentoIpva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReferenciaValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReferenciaValor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
