@model IEnumerable<FrotaWeb.Models.VeiculoViewModel>

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Veículos</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Placa)</th>
                    <th>@Html.DisplayNameFor(model => model.Modelo)</th>
                    <th>@Html.DisplayNameFor(model => model.Cor)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th class="column-15"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Placa)</td>
                        <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cor)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <a href="@Url.Action("Details", "Veiculo", new { id = item.Id })" class="icone">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Edit", "Veiculo", new { id = item.Id })" class="icone">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Veiculo", new { id = item.Id })" class="icone">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>