@model FrotaWeb.Models.AbastecimentoViewModel

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<div class="container-details">
    <h4>AbastecimentoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFrota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFrota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odometro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odometro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litros)
        </dd>
    </dl>
</div>
<div class="container-buttons">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
