@model IEnumerable<FrotaWeb.Models.AbastecimentoViewModel>

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />
<link href="~/lib/datatables/css/datatables.min.css" rel="stylesheet" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Abastecimentos</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tableAbastecimentos" class="tabela">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdFornecedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Odometro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Litros)
                    </th>
                    <th class="column-15"></th>
                </tr>
            </thead>
        </table>
    </div>
</main>


@section Scripts {
    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableAbastecimentos').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,
                "lengthMenu": [
                    [5, 10, 20, -1],
                    [5, 10, 20, "Todos"]
                ],
                "ajax": {
                    "url": "/Abastecimento/GetDataPage",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [1],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [2],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [3],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [4],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets":  [5],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets":  [6],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true },
                    { "data": "idPercurso", "name": "Id Percuso", "autoWidth": true },
                    { "data": "idFornecedor", "name": "Id Fornecedor", "autoWidth": true },
                    { "data": "dataHora", "name": "Data Hora", "autoWidth": true },
                    { "data": "odometro", "name": "Odometro", "autoWidth": true },
                    { "data": "litros", "name": "Litros", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-info" href="/Abastecimento/Edit/' + full.id + '">Editar</a> ' +
                                '<a class="btn btn-danger" href="/Abastecimento/Delete/' + full.id + '">Excluir</a>'; }
                    },
                ],
                language: {
                    url: "lib/datatables/js/pt-br.json",
                }
            });
        });
    </script>
}