@model IEnumerable<FrotaWeb.Models.AbastecimentoViewModel>

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Abastecimentos</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdPercurso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdFornecedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Odometro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Litros)
                    </th>
                    <th class="column-15"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPercurso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFornecedor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Odometro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Litros)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Abastecimento", new { id = item.Id })" class="edit icone" title="Editar" data-toggle="tooltip">
                                <i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "Abastecimento", new { id = item.Id })" class="details icone" title="Detalhes" data-toggle="tooltip">
                                <i class="fa fa-eye cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Abastecimento", new { id = item.Id })" class="delete icone" title="Excluir" data-toggle="tooltip">
                                <i class="fa fa-trash cor" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>