@model IEnumerable<FrotaWeb.Models.ModeloVeiculoViewModel>

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<main class="container mt-4">
    <div class="table-responsive">
        <table class="table tabela-listra table-hover table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdMarca)</th>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.CapacidadeTanqueCombustivel)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdMarca)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.CapacidadeTanqueCombustivel)</td>
                        <td>
                            <a href="@Url.Action("Edit", "ModeloVeiculo", new { id = item.Id })" class="edit" title="Editar" data-toggle="tooltip">
                                <i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "ModeloVeiculo", new { id = item.Id })" class="details" title="Detalhes" data-toggle="tooltip">
                                <i class="fa fa-eye cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "ModeloVeiculo", new { id = item.Id })" class="delete" title="Excluir" data-toggle="tooltip">
                                <i class="fa fa-trash cor" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">Adicionar</a>
    </div>
</main>