@model FrotaWeb.Models.PercursoViewModel

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<div class="container-details">
    <h4>PercursoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatitudePartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatitudePartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongitudePartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongitudePartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatitudeChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatitudeChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongitudeChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongitudeChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdometroInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdometroInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdometroFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdometroFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
    </dl>
</div>
<div class="container-buttons">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
