@model IEnumerable<FrotaWeb.Models.VeiculoPecaInsumoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPecaInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinalGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmFinalGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataProximaTroca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmProximaTroca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPecaInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmFinalGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProximaTroca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmProximaTroca)
            </td>
                <td>
                    <a href="@Url.Action("Edit", "VeiculoPecaInsumo", new { idVeiculo = item.IdVeiculo, idPecaInsumo = item.IdPecaInsumo })" class="edit" title="Editar" data-toggle="tooltip">
                        <i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Details", "VeiculoPecaInsumo", new { idVeiculo = item.IdVeiculo, idPecaInsumo = item.IdPecaInsumo })" class="details" title="Detalhes" data-toggle="tooltip">
                        <i class="fa fa-eye cor" aria-hidden="true"></i>
                    </a>
                    <a href="@Url.Action("Delete", "VeiculoPecaInsumo", new { idVeiculo = item.IdVeiculo, idPecaInsumo = item.IdPecaInsumo })" class="delete" title="Excluir" data-toggle="tooltip">
                        <i class="fa fa-trash cor" aria-hidden="true"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
