@model FrotaWeb.Models.MarcaPecaInsumoViewModel

@{
    ViewData["Title"] = "Detalhes da marca da peça e insumo";
}

<h1>Detalhes da marca da peça e insumo</h1>
<div>
    <h4>Marca da peça e insumo</h4>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>

<div>
    <a href="@Url.Action("Edit", new { id=Model.Id })" class="btn btn-primary" title="Edit">
        Edit
    </a>
    <a href="@Url.Action("Index")" class="btn btn-primary" title="Index">
        Back to list
    </a>
</div>
