@model IEnumerable<FrotaWeb.Models.ManutencaoViewModel>

<link rel="stylesheet" href="~/css/index-pages.css" asp-append-version="true" />

<main class="main_content container">
    <div class="titulo-pagina">
        <a href="javascript:history.back()" class="voltar">
            <i class="fa fa-arrow-left"></i> Voltar
        </a>
        <h1>Manutenções</h1>
        <div class="acoes">
            <a asp-action="Create" class="btn btn-primario">Criar</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="tabela">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdVeiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdFornecedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdResponsavel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorPecas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorManutencao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comprovante)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="column-15"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdVeiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFornecedor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdResponsavel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorPecas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorManutencao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comprovante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Manutencao", new { id = item.Id })" class="edit icone" title="Editar" data-toggle="tooltip">
                                <i class="fa fa-pencil-alt cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "Manutencao", new { id = item.Id })" class="details icone" title="Detalhes" data-toggle="tooltip">
                                <i class="fa fa-eye cor" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Manutencao", new { id = item.Id })" class="delete icone" title="Excluir" data-toggle="tooltip">
                                <i class="fa fa-trash cor" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>